node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

.cursor

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
